.menu-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.menu-header {
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
}

.menu-title {
    display: block;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #303030;
}

.menu-close-icon {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 10px;
    cursor: pointer;
}

.menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding: 15px 10px;
    border-bottom: 1px solid #7d7d7d;
    font-weight: 500;
}

.menu-item:active {
    background: #00c8ff;
    color: #fff;
}

.menu-item-arrow {
    width: 20px;
    cursor: pointer;
}
