.institutional-wrapper {
    max-width: 100%;
    margin: 0 132px;
    margin-bottom: 138px;
}

.institutional-title {
    margin: 0 0 41px;
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #292929;
}

.institutional-block {
    display: flex;
    justify-content: center;
    column-gap: 32px;
}

.institutional-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 270px;
    width: 100%;
    border-right: 1px solid #e5e5e5;
}

.institutional-item {
    display: flex;
    align-items: center;
    max-width: calc(270px - 28px);
    width: 100%;
    padding: 10px 14px;
    color: #7d7d7d;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.2s linear;
}

a.active.institutional-item {
    background-color: #00c8ff;
    color: #fff;
}

@media screen and (max-width: 890px) {
    .institutional-block {
        flex-direction: column;
        align-items: center;
        column-gap: 0;
        row-gap: 32px;
    }

    .institutional-wrapper {
        margin: 0 10px;
        margin-bottom: 30px;
    }
    .institutional-title {
        margin: 0 0 23px;
    }

    .institutional-menu {
        max-width: 403px;
    }

    .institutional-item {
        max-width: calc(403px - 28px);
    }
}

@media screen and (max-width: 768px) {
    .institutional-menu {
        max-width: 343px;
        border-right: none;
    }

    .institutional-item {
        max-width: calc(343px - 28px);
    }
}

@media screen and (max-width: 364px) {
    .institutional-wrapper {
        margin: 0 10px;
        margin-bottom: 30px;
    }

    .institutional-menu {
        max-width: 250px;
    }

    .institutional-item {
        max-width: calc(250px - 28px);
    }
}
