.search-box {
    position: relative;
    display: flex;
    align-self: center;
    width: 264px;
    height: 32px;
}

.search-box-input {
    position: relative;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 0;
    margin: 0;
    outline: 0;
    border-radius: 5px;
    padding: 0 12px;
}

.search-box-icon {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 0;
    padding: 0 12px;
    transform: translateY(-50%);
    background: #fff;
}

@media screen and (max-width: 768px) {
    .search-box {
        width: 343px;
    }
}

@media screen and (max-width: 376px) {
    .search-box {
        width: 244px;
    }
}
