.newsletter-wrapper {
    border: 1px solid #e7e7e7;
    border-left: 0;
    border-right: 0;
}

.newsletter-wrapper form {
    padding: 17px 0;
    max-width: 475px;
    margin: 0 auto;
}

.newsletter-wrapper h3 {
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #303030;
}

.newsletter-box {
    position: relative;
    display: flex;
    align-items: center;
    gap: 7px;
    padding-bottom: 18px;
    margin-bottom: 13px;
}

.newsletter-box input {
    max-width: calc(342px - 32px);
    width: 100%;
    padding: 13px 16px;
    outline: 0;
    border: 1px solid #e5e5e5;
}

.newsletter-box input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 16px;
    border-radius: 4px;
    color: #c4c4c4;
}

.newsletter-box button {
    max-width: 126px;
    width: 100%;
    height: 42px;
    border: 0;
    background: #00c8ff;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.newsletter-box button:hover {
    filter: brightness(80%);
}

.newsletter-box button:active {
    filter: brightness(100%);
}

.newsletter-invalid-message {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    color: #c70039;
}

@media screen and (max-width: 768px) {
    .newsletter-box {
        flex-direction: column;
    }

    .newsletter-wrapper form {
        padding: 21px 12px;
        max-width: 626px;
        margin: 0 auto;
    }

    .newsletter-wrapper h3 {
        margin: 0 0 12px;
        font-size: 14px;
        line-height: 16px;
        color: #303030;
    }

    .newsletter-box input {
        max-width: calc(626px);
        padding: 17px 0px;
    }

    .newsletter-box button {
        max-width: 626px;
        height: 50px;
        font-size: 14px;
        line-height: 16px;
        box-shadow: none;
        border-radius: 0;
    }
}
