.user-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user-login {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    transition: color 0.2s linear;
    margin-right: 40px;
}

.user-login:active {
    color: #fff;
}

@media screen and (min-width: 1280px) {
    .user-login:hover {
        color: #000;
    }
}

@media screen and (max-width: 768px) {
    .user-login {
        display: none;
    }
}
