.button-wpp {
    position: fixed;
    right: 14px;
    bottom: 351px;
    width: 34px;
    height: 34px;
}

.button-wpp:active {
    filter: brightness(100%);
}

@media screen and (min-width: 1280px) {
    .button-wpp:hover {
        filter: brightness(80%);
    }
}

@media screen and (max-width: 768px) {
    .button-wpp {
        right: 3px;
        bottom: 559px;
    }
}
