.footer-links__wrapper {
    display: flex;
    justify-content: center;
    margin: 25px 12px 50px;
}

.footer-links__wrapper a {
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    color: #303030;
    transition: color 0.2s linear;
}

.footer-links__wrapper a:hover {
    color: #7d7d7d;
}

.footer-links__wrapper a:active {
    color: #303030;
}

.footer-links__desktop {
    display: flex;
    justify-content: center;
}

.footer-links__box {
    margin-right: 60px;
}

.footer-links__title {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #303030;
}

.footer-links__list {
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
}

.footer-links__list b {
    display: block;
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #303030;
}

.footer-links__item {
    margin-bottom: 12px;
}

.footer-links__item:last-of-type {
    margin-bottom: 0;
}

.footer-links__socials {
    margin-left: 130px;
}

.footer-links__socials a {
    font-size: 14px;
    line-height: 16px;
}

.footer-links__socials-list {
    display: flex;
    column-gap: 10px;
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
}

.footer-links__mobile {
    display: none;
}

@media screen and (max-width: 960px) {
    .footer-links__box {
        margin-right: 15px;
    }

    .footer-links__socials {
        margin-left: 30px;
    }
}

@media screen and (max-width: 850px) {
    .footer-links__wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 0;
        padding: 25px 12px;
    }

    .footer-links__mobile {
        display: block;
    }

    .footer-links__desktop {
        display: none;
    }

    .footer-links__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        cursor: pointer;
    }

    details summary::after {
        content: "+";
    }

    details[open] summary::after {
        content: "";
        height: 2px;
        width: 6px;
        background: #000;
    }

    .footer-links__socials {
        margin: 0;
    }

    .footer-links__box {
        margin: 0 0 24px;
    }

    .footer-links__site {
        display: none;
    }
}
