.form-component {
    width: 100%;
}

.form-component h3 {
    font-size: 24px;
    font-weight: 400;
    max-width: 450px;
    text-align: center;
    color: #110d0f;
    margin: 0 0 33px;
}

.form-box {
    position: relative;
}

.form-box,
.form-box-validate {
    display: flex;
    flex-direction: column;
    padding-bottom: 18px;
    margin-bottom: 13px;
}

.form-box-validate {
    position: relative;
    font-size: 14px;
    line-height: 23px;
    text-decoration: underline;
    max-width: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box-validate__asterisk {
    color: #03bffe;
}

.form-box_validate input {
    margin-left: 15px;
}

.form-box label {
    font-size: 14px;
    color: #100d0e;
    margin: 0 0 5px 15px;
}

.form-box-validate__container {
    padding-bottom: 18px;
    margin-bottom: 13px;
}

span.form-invalid-message__validate {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: #c70039;
}

.form-box input,
.form-component button {
    max-width: calc(450px - 56px);
    border-radius: 25px;
    border: 1px solid #100d0e;
    font-size: 14px;
    line-height: 23px;
    color: #000;
    outline: 0;
    padding: 11px 28px;
}

.form-component button {
    margin: 0;
    border: 0;
    padding: 8.5px 0;
    color: #fff;
    max-width: 450px;
    width: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 34px;
    background: #03bffe;
    cursor: pointer;
    transition: all 0.2s linear;
}

.form-component button:hover {
    filter: brightness(80%);
}

.form-component button:active {
    filter: brightness(100%);
}

.form-box .invalid {
    border-color: #c70039;
}

.form-box span {
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: 12px;
    color: #c70039;
}

@media screen and (max-width: 890px) {
    .form-component,
    .form-component h3,
    .form-box-validate,
    .form-component button {
        max-width: 626px;
    }

    .form-box input {
        max-width: calc(626px - 56px);
    }
}

@media screen and (max-width: 768px) {
    .form-component h3 {
        font-size: 18px;
    }
}
