header {
    background-color: #00c8ff;
    position: sticky;
    z-index: 5;
}

.header-wrapper {
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 100%;
    height: 76px;
    margin: 0 108px;
}

.menu-hamburguer {
    display: none;
}

.header-logo {
    display: block;
}

.search-box {
    margin: 0 auto;
}

.header-menu {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 44px;
    padding: 0 108px;
    background-color: #00c8ff;
    border-top: 1px solid #c4c4c4;
}

.header-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    column-gap: 126px;
}

.header-item-content {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    transition: color 0.2s linear;
}

.header-item-content:active {
    color: #fff;
}

@media screen and (min-width: 1280px) {
    .header-item-content:hover {
        color: #000;
    }
}

@media screen and (max-width: 768px) {
    .header-wrapper {
        align-items: center;
        height: 139px;
        margin: 0 16px;
    }

    .menu-hamburguer {
        display: block;
    }

    .search-box {
        grid-column: 3fr;
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        justify-content: center;
    }

    .header-menu {
        display: none;
    }

    .header-logo {
        margin: 0 auto;
    }
}
