.footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    background: #585858;
}

.footer-copyright p {
    margin: 0;
    max-width: 234px;
    width: 100%;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
}

.footer-payments {
    display: flex;
    align-items: center;
}

.footer-payments svg:nth-child(n) {
    margin: 0 13px;
}

.footer-payments svg:last-child {
    margin: 0;
}

.vtex-pci {
    border-left: 1px solid #c4c4c4;
    padding-left: 10px;
}

@media screen and (max-width: 1024px) {
    .footer-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        padding: 21px 16px;
        row-gap: 20px;
        background: #585858;
    }

    .footer-copyright p {
        max-width: max-content;
    }

    .footer-payments svg:first-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .footer-payments {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .footer-copyright p {
        max-width: 234px;
    }

    .footer-payments svg:nth-child(n) {
        margin: 0 5px;
        width: 30px;
    }

    .footer-payments svg:last-child {
        margin: 0;
        width: 45px;
    }

    .vtex-pci {
        border-left: 1px solid #c4c4c4;
        padding-left: 8px;
    }
}

@media screen and (max-width: 350px) {
    .footer-payments svg:nth-child(n) {
        margin: 0 5px;
        width: 20px;
    }

    .footer-payments svg:first-child {
        margin-left: 0;
    }

    .footer-payments svg:last-child {
        margin: 0;
        width: 35px;
    }
}
