.sobre-box {
    max-width: 715px;
    width: 100%;
    padding: 0 12px;
    transition: all 1s ease-in-out;
}

.sobre-title {
    margin: 0 0 12px;
    font-size: 24px;
    color: #292929;
}

.sobre-description {
    font-size: 13px;
    line-height: 15px;
    color: #7d7d7d;
}

.sobre-description p {
    margin: 0 0 25px;
}
