.breadcrumb-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0 80px;
    margin: 0 128px;
    column-gap: 10px;
}

.breadcrumb-text {
    font-size: 12px;
    color: #c4c4c4;
}

@media screen and (max-width: 890px) {
    .breadcrumb-container {
        padding: 30px 0;
    }
}

@media screen and (max-width: 768px) {
    .breadcrumb-container {
        padding: 0;
        margin: 16px 16px 32px;
    }
}
