.button-scroll {
    position: fixed;
    right: 14px;
    bottom: 305px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #c4c4c4;
    border: none;
    cursor: pointer;
    transition: all 0.2s linear;
}

.button-scroll:active {
    filter: brightness(100%);
}

@media screen and (min-width: 1280px) {
    .button-scroll:hover {
        filter: brightness(80%);
    }
}

@media screen and (max-width: 768px) {
    .button-scroll {
        right: 3px;
        bottom: 510px;
    }
}
